[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = "*"
"beautifulsoup4" = "*"
numpy = "*"
pandas = "*"
"html5lib" = "*"
lxml = "*"
matplotlib = "*"
requests-html = "*"
openpyxl = "*"
tqdm = "*"


[dev-packages]

ipykernel = "*"
jupyter = "*"
